In [1]:
a = 10

In [3]:
a

10

In [7]:
k=(lambda a : a+10)(100)

In [27]:
k

110

In [28]:
f=lambda x,y : x+y

In [30]:
f(3,5)

8

In [32]:
a=[1,2,3,4,5]

In [33]:
max(a)

5

In [35]:
max_a=lambda a : max(a)

In [37]:
max_a(a)

5

In [10]:
a=[]

In [12]:
a

[]

In [14]:
a.append(2)

In [24]:
a.append(5)

In [38]:
a

[1, 2, 3, 4, 5]

In [40]:
import pandas as pd

In [54]:
path= r'C:\Users\user\Desktop\새 폴더\\*.csv'

In [44]:
pd.read_csv(path+'a.csv',encoding='cp949' )

   출신고교     학번   이름  국어  수학  영어  과탐1  과탐2
0     A  30104  조매미  70  66  78   38   42
1     A  30115  김개미  71  77  89   15   20
2     A  30117  박모기  76  55  75   35   30
3     A  30120  최파리  69  66  51   15   36
4     A  30215  정땅벌  63  20  76   15   19
5     A  30228  오멸치  67  51  48   21   12
6     A  30229  김꿀벌  93  77  78   33   44
7     A  30305  윤여치  88  66  70   41   21
8     A  30315  장곱등  86  66  84   35   38
9     A  30317  임나방  73  77  75   32   25
10    A  30319  한말벌  84  65  75   42   26
11    A  30401  강나비  68  80  72   10   12
12    A  30404  서삼치  88  65  86   41   37
13    A  30421  신참치  98  92  85   44   35
14    A  30428  권갈치  91  74  83   38   42
15    A  30503  황넙치  73  70  76   35   33
16    A  30512  안준치  84  77  66   19   23
17    A  30518  송날치  90  56  61   20   33
18    A  30529  전꽁치  79  46  68   34   34
19    A  30622  유쥐치  95  85  91   38   32
20    A  30707  고조기  57  69  72    8   18
21    A  30709  문메기  72  77  91   18   33
22    A  30803  손뿔돔  71  80  48   34   29
23    A  30815  배옥돔  49  70  31   12   21
24    A  30822  조황돔  84  88  76   37   37
25    A  30824  백돌돔  83  88  80   30   30
26    A  30827  허대구  95  70  67   35   29
27    A  30901  유명태  87  69  96   37   40
28    A  30928  남동태  91  50  80   29   26

In [56]:
import glob
for fill in glob.glob(path):
    print(fill)

C:\Users\user\Desktop\새 폴더\a.csv
C:\Users\user\Desktop\새 폴더\b.csv
C:\Users\user\Desktop\새 폴더\c.csv
C:\Users\user\Desktop\새 폴더\d.csv
C:\Users\user\Desktop\새 폴더\data.csv
C:\Users\user\Desktop\새 폴더\e.csv
C:\Users\user\Desktop\새 폴더\f.csv
C:\Users\user\Desktop\새 폴더\g.csv
C:\Users\user\Desktop\새 폴더\h.csv
C:\Users\user\Desktop\새 폴더\i.csv
C:\Users\user\Desktop\새 폴더\j.csv

In [58]:
filles=glob.glob(path)

In [60]:
filles

['C:\\Users\\user\\Desktop\\새 폴더\\a.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\b.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\c.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\d.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\data.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\e.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\f.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\g.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\h.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\i.csv',
 'C:\\Users\\user\\Desktop\\새 폴더\\j.csv']

In [63]:
stu=[]
for file in filles :
    data=pd.read_csv(file,encoding='cp949')
    stu.append(data)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2

concat

In [73]:
a=pd.DataFrame([
    ['a','b','c'],
    [10,20,30]
],index=[1,2])
b=pd.DataFrame([
    ['c','s','v'],
    [80,10,50]
],indexx=[3,4])

TypeError: __init__() got an unexpected keyword argument 'indexx'

In [70]:
a

    0   1   2
0   a   b   c
1  10  20  30

In [74]:
b

    0   1   2
0   c   s   v
1  80  10  50

In [75]:
a.columns=['A','B','C']
b.columns=['A','B','C','Gui']

ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

In [77]:
hap=pd.concat([a,b],axis=0)

In [80]:
df=pd.concat(stu)
df

   출신고교     학번   이름  국어  수학  영어  과탐1  과탐2
0     A  30104  조매미  70  66  78   38   42
1     A  30115  김개미  71  77  89   15   20
2     A  30117  박모기  76  55  75   35   30
3     A  30120  최파리  69  66  51   15   36
4     A  30215  정땅벌  63  20  76   15   19
..  ...    ...  ...  ..  ..  ..  ...  ...
26    D  30810   현빈  80  57  64   38   42
27    D  30816  김용만  87  55  55   50   50
28    D  30820  김성령  74  53  59   26   40
29    D  30903  김신영  80  33  62   15   32
30    D  30906  김준현  32  32  48   18   18

[119 rows x 8 columns]